body {background-color: beige}
h1 {color: #E67E22;}
h2 {color: rgb(122, 56, 9);}
h3 {color: rgb(143, 83, 41);}
p {color: rgb(84, 72, 3);}
li {color: rgb(25, 93, 93);}
h4 {color: chocolate;}
h1 {text-align: center;}
h2 {text-align: center;}
p {text-align: center;}
h3 {text-align: center;}
